.references-window {
  display: flex;
  height: 60vh;
  border-radius: var(--radius-global);
  background-color: var(--color-primary);
  box-shadow: var(--shadow-drop-light), var(--shadow-drop-dark);
  overflow: hidden;
}

.references-right {
  flex: 2; /* занимает оставшееся пространство */
  background: var(--color-white);
  margin: 16px;
  border-radius: var(--radius-global);
  box-shadow: var(--shadow-inner-gray);
  padding: 24px;
}

.references-placeholder {
  font-family: var(--font-grotesk-family);
  font-size: 16px;
  color: var(--color-text);
  opacity: 0.6;
}
