.notes-window {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 60vh;
  border-radius: var(--radius-global);
  background-color: var(--color-primary);
  overflow: hidden;
}

.notes-left {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
}

.notes-create-btn {
  width: 128px;
  height: 48px;
  border-radius: var(--radius-global);
  background-color: #fff; /* белый фон */
  font-family: var(--font-pfaze-family);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;


  /* градиент для текста */
  background: var(--color-gradient-accent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.notes-right {
  background-color: #fff;
  padding: 24px;
}

.notes-placeholder {
  font-family: var(--font-grotesk-family);
  font-size: 16px;
  color: var(--color-text);
  opacity: 0.6;
}

.note-textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  font-family: var(--font-pfaze-family);
  font-size: 16px;
  color: var(--color-text);
}
