.app-window {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 480px;
  height: 320px;
  min-width: 300px;
  min-height: 300px;
  background:
    linear-gradient(#0000, #0000) padding-box, /* прозрачный фон */
    var(--color-gradient-accent) border-box;  /* градиент для рамки */
  border: 2px solid transparent;
  border-radius: var(--radius-global);
  box-shadow: var(--shadow-drop-light), var(--shadow-drop-dark);
  display: flex;
  flex-direction: column;
  resize: both;
  overflow: auto;
  z-index: 1000;
}


.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  height: 80px;
  background: var(--color-gradient-accent);
  color: var(--color-white);
  user-select: none;
  width: 100%;
  box-sizing: border-box;
}

.window-title {
  font-family: var(--font-window-title-family);
  font-weight: var(--font-window-title-weight);
  font-size: var(--font-window-title-size);
  letter-spacing: var(--font-window-title-spacing);
  line-height: var(--font-window-title-line-height);
  color: var(--color-white);
}

.window-body {
  flex: 1;
  padding: 16px;
}

.window-close {
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
}

.window-close img {
  width: 100%;
  height: 100%;
}





